<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Timestamp Microservice</h1>
         <h3>Free Code Camp Backend Challenges</h3>
     </div>
     <div>
         <ul>
           <li><b>User Story </b>: I can pass a string as a parameter, and it will check to see whether that string contains either a 
unix timestamp or a natural language date <br>(example: January 1, 2016).</li>
           
           <li><b>User Story </b>: If it does, it returns both the Unix timestamp and the natural language .</li>
  
           <li><b>User Story </b>: If it does not contain a date or Unix timestamp, it returns null for those properties.</li>
        </ul>
     </div>
     <div>
       <h3>Example usage :</h3>
       <p>
         <a href="https://yummy-twist.glitch.me/December%2015,%202015" target="_blank">https://yummy-twist.glitch.me/December%2015,%202015</a>
       </p>
       <p>
         <a href="https://yummy-twist.glitch.me/1450137600" target="_blank">https://yummy-twist.glitch.me/1450137600</a>
       </p>
       <hr>
       <h3>Example output:</h3>
      { "unix": 1450137600, "natural": "December 15 2015" }
     </div>

   </body>

</html>
